.expense-slot-processing {
    max-width: 300px;
    width: 300px;
    max-height: 70px;
    border: 2px solid #30549E;
    border-radius: 15px;
    padding: 14px;
    background-color: #202020;
    display: flex;
    align-items: center;
}

.expense-slot-processing h3 {
    background: #202020;
    font-size: 15px;
    
}

.buttons-action {
    transform: scale(.7);
}