.middle-net-worth {
    width: auto;
    height: 160px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 2px solid #FFFFFF;
    padding: 10px;
    margin-bottom: 0;
    background-color: #202020;
    justify-content: space-between;
}

.middle-net-worth h2 {
    background-color: #202020;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 1;
}

.net-worth-title {
    align-self: center;
}