.buy-button {
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    border-radius: 0 0 15px 15px;
}

.buy {
    fill: #4D9E30;
    border: 2px solid #4D9E30;
    background: none;
    border-radius: 0 0 15px 15px;
}

.buy:hover {
    background: #4D9E30;
    fill: #202020;
}